name: Build Coolkid Caddy Image
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Docker Image
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Release version
        id: release_version
        run: |
          API_URL="https://api.github.com/repos/caddyserver/caddy/releases/latest"
          LATEST_VERSION=$(curl -s $API_URL | jq -r .tag_name)
          CLEAN_VERSION=$(echo $LATEST_VERSION | sed 's/^v//')
          echo "app_version=$CLEAN_VERSION" >> $GITHUB_ENV

      - name: Get Docker Hub Latest Version
        id: docker_version
        run: |
          IMAGE="${{ secrets.DOCKER_USERNAME }}/caddy"

          TAG=$(curl -fsSL \
            "https://hub.docker.com/v2/repositories/${IMAGE}/tags?page_size=20" \
            | jq -r '.results[].name' \
            | grep -v '^latest$' \
            | sort -V \
            | tail -n 1)
          CLEANT_TAG=$(echo $TAG | sed 's/^v//')
          echo "Docker Hub version: $CLEANT_TAG"
          echo "docker_version=$CLEANT_TAG" >> $GITHUB_ENV

      - name: Compare Versions
        id: compare
        run: |
          echo "GitHub : ${{ env.app_version }}"
          echo "Docker : ${{ env.docker_version }}"

          if [ "${{ env.app_version }}" = "${{ env.docker_version }}" ]; then
            echo "Versions are the same. Skip build."
            echo "should_build=false" >> $GITHUB_ENV
          else
            echo "Versions differ. Start build."
            echo "should_build=true" >> $GITHUB_ENV
          fi
          
      - name: Set Up QEMU
        if: env.should_build == 'true'
        uses: docker/setup-qemu-action@v3

      - name: Set Up Buildx
        if: env.should_build == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Login DockerHub
        if: env.should_build == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        if: env.should_build == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: |
            linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/caddy:latest
            ${{ secrets.DOCKER_USERNAME }}/caddy:${{ env.app_version }}
